/*
* See https://github.com/rebelot/kanagawa.nvim/blob/master/lua/kanagawa/colors.lua
*/

@define-color sumiInk0 #16161D;
@define-color sumiInk1 #181820;
@define-color sumiInk2 #1a1a22;
@define-color sumiInk3 #1F1F28;
@define-color sumiInk4 #2A2A37;
@define-color sumiInk5 #363646;
@define-color sumiInk6 #54546D;
@define-color waveBlue1 #223249;
@define-color waveBlue2 #2D4F67;
@define-color winterGreen #2B3328;
@define-color winterYellow #49443C;
@define-color winterRed #43242B;
@define-color winterBlue #252535;
@define-color autumnGreen #76946A;
@define-color autumnRed #C34043;
@define-color autumnYellow #DCA561;
@define-color samuraiRed #E82424;
@define-color roninYellow #FF9E3B;
@define-color waveAqua1 #6A9589;
@define-color dragonBlue #658594;
@define-color oldWhite #C8C093;
@define-color fujiWhite #DCD7BA;
@define-color fujiGray #727169;
@define-color oniViolet #957FB8;
@define-color oniViolet2 #b8b4d0;
@define-color crystalBlue #7E9CD8;
@define-color springViolet1 #938AA9;
@define-color springViolet2 #9CABCA;
@define-color springBlue #7FB4CA;
@define-color lightBlue #A3D4D5;
@define-color waveAqua2 #7AA89F;
@define-color springGreen #98BB6C;
@define-color boatYellow1 #938056;
@define-color boatYellow2 #C0A36E;
@define-color carpYellow #E6C384;
@define-color sakuraPink #D27E99;
@define-color waveRed #E46876;
@define-color peachRed #FF5D62;
@define-color surimiOrange #FFA066;
@define-color katanaGray #717C7C;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
    padding: 0;
    border: none;
}

#waybar {
    background-color: transparent;
}

#workspaces {
    border-radius: 3px;
    background-color: @waveBlue1;
}

#workspaces button {
    padding: 0 0.3rem;
    background-color: transparent;
    color: @springBlue;
    border-radius: 3px;
}

#workspaces button.active {
    color: @fujiWhite;
    background-color: @waveBlue2;
}

#workspaces button:hover {
    background-color: @sumiInk3;
    background-image: none;
    color: @oldWhite;
    border-radius: 3px;
    text-shadow: none;
    box-shadow: none;
}

#workspaces button.urgent {
    color: @samuraiRed;
    background-color: @winterRed;
}

#tray,
#clock,
#wireplumber,
#network,
#cpu,
#memory,
#temperature {
    background-color: @waveBlue1;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
}

#clock {
    color: @springBlue;
    border-radius: 3px;
    margin-right: 1rem;
}

#wireplumber {
    color: @springGreen;
    border-radius: 3px;
    margin-left: 1rem;
}

#wireplumber.muted {
    color: @fujiGray;
}

#wireplumber.low {
    color: @springBlue;
}

#wireplumber.medium {
    color: @carpYellow;
}

#wireplumber.high {
    color: @samuraiRed;
}

#network {
    color: @springBlue;
    margin-left: 0.5rem;
    padding-right: 0.3rem;
    padding-left: 0.7rem;
}

#network.disconnected {
    color: @samuraiRed;
}

#cpu {
    color: @springBlue;
    margin-left: 0.5rem;
}

#cpu.warning {
    color: @roninYellow;
}

#cpu.critical {
    color: @samuraiRed;
}

#memory {
    color: @springBlue;
    margin-left: 0.5rem;
}

#memory.warning {
    color: @roninYellow;
}

#memory.critical {
    color: @samuraiRed;
}

#temperature {
    color: @springBlue;
    margin-left: 0.5rem;
}

#temperature.critical {
    color: @samuraiRed;
}
