[submodule "aur/claude-code"]
	path = aur/claude-code
	url = https://aur.archlinux.org/claude-code.git
[submodule "aur/zen-browser-bin"]
	path = aur/zen-browser-bin
	url = https://aur.archlinux.org/zen-browser-bin.git
[submodule "aur/gemini-cli-bin"]
	path = aur/gemini-cli-bin
	url = https://aur.archlinux.org/gemini-cli-bin.git
[submodule "aur/tmux-sessionizer"]
	path = aur/tmux-sessionizer
	url = https://aur.archlinux.org/tmux-sessionizer.git
